{# <section class="u-backgroundPrimary u-textWhite u-positionRelative">
  <div class="lg:u-hidden u-positionAbsolute u-widthFull u-heightLarge" style="background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);"></div>
  <div class=" u-positionRelative">
    <div class="Container">
      <div class="Grid">
        <div class="u-sizeFull lg:u-size6of12">
          <div class=" u-paddingVerticalExtraLargePlus">
            <h2>Liên hệ</h2>
            <p>hjsdhlsh ljsdh sdjhsdhfdh hhhfhhh</p>
            <div class="">
              <a href="/dich-vu" class="Button Button--large u-widthFull lg:u-widthAuto u-flexInline u-justifyContentCenter u-alignItemsCenter u-textDecorationNone u-roundedMedium u-backgroundAccent hover:u-backgroundAccentDark u-border u-borderAccent hover:u-textDecorationNone u-cursorPointer u-textUppercase u-textWhite hover:u-textWhite">
                <span class="Button-label u-inlineBlock u-fontMedium u-paddingHorizontalLarge">Liên hệ ngay</span>
              </a>
            </div>
          </div>
        </div>
        <div class="u-sizeFull lg:u-size6of12">
          <div class="u-hidden lg:u-block u-positionAbsolute u-positionLeft50 u-positionRight u-heightFull u-backgroundPrimaryDark">
            <img
              src="https://images.unsplash.com/photo-1559030623-0226b1241edd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80"
              class="u-block u-widthFull u-heightFull u-objectCover"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="lg:u-hidden">
      <img
        src="https://images.unsplash.com/photo-1559030623-0226b1241edd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80"
        class="u-block u-widthFull u-heightFull u-objectCover"
      />
    </div>
  </div>
</section> #}