:root {
  --accent: #0074d9;
  --background: #fffffe;
  --color: rgb(41, 41, 41);
  --fontFamily: 'Be Vietnam Pro', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}
