---
title: Oops! Not Found
layout: master
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404</h1>
  <p>Rất tiếc, trang web này không tồn tại,  <a href="{{ '/' | url }}">Quay về trang chủ</a>.</p>
</div>